.App {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.dark-app {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.754);
}

body {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
