* {
  box-sizing: border-box;
  margin: 0;
  transition: 0.5s;
}

body {
  height: 100vh;
  background-color: rgb(204, 230, 252);
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.App {
  margin-top: 80px;
}

@media (max-width: 900px) {
}
