* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  width: 100hv;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .App {
  }
}
