@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400");

.main-page-container {
  width: 1000px;
  height: 500px;
  display: flex;
  background-color: #fff;
  // background-color: rgb(0, 132, 255);
}

.data-container {
  width: 500px;
  height: 500px;
  padding: 20px;
  background-color: #f8f8f8;
  // background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.data-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //   background-color: blueviolet;
  height: 150px;
}

.name {
  width: 260px;
  height: 40px;
  text-align: center;
  margin: 0;
  //   background-color: aqua;
  span {
    font-size: 14px;
  }
}

.logo-cat {
  width: auto;
  height: 150px;
}

.data-body {
  // background-color: brown;
  width: 340px;
  //   height: 310px;
}

.my-data {
  font-size: 20px;
  list-style: none;
  text-align: left;
  margin: 10px;
}

.data-ul {
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  // justify-content: center;
}

.data-footer {
  display: flex;
  flex-wrap: wrap;
  //   align-items: center;
  justify-content: center;
  width: 360px;
  height: 120px;
  //   background-color: blue;
  span {
    padding-top: 30px;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
  }
}

.about-me-container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  // background-color: brown;
}

.me-header {
  width: 500px;
  height: 130px;
  background-color: rgb(249, 194, 76);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  h1 {
    font-size: 55px;
    color: white;
    margin-bottom: 0;
  }
}

.history {
  background-color: #fff;
  font-size: 20px;
  margin-top: 80px;
  width: 400px;
}
