@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400");

.main-page-container {
  width: 1000px;
  height: 500px;
  display: flex;
  background-color: #fff;
  position: relative;
  // margin-top: 30px;
}

// .main-dark {
//   background-color: rgb(49, 48, 48);
//   color: #ffe2b7;
// }

.data-container {
  width: 500px;
  height: 500px;
  padding: 20px;
  background-color: #f8f8f8;
  // background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  position: relative;
}

// .data-dark {
//   background-color: rgb(38, 38, 38);
// }

.data-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  // background-color: brown;
  position: relative;
  top: -20px;
  font-family: Optima, sans-serif;
}

.name {
  width: 290px;
  height: 40px;
  text-align: center;
  margin: 0;
  margin-left: 15px;
  span {
    font-size: 14px;
    color: rgb(161, 161, 161);
  }
}

.logo-cat {
  // width: auto;
  // height: 150px;
  width: auto;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  cursor: pointer;
}

.data-body {
  width: 440px;
  height: 150px;
}

.my-data {
  font-size: 20px;
  list-style: none;
  text-align: left;
  margin: 10px;
  font-family: Andale Mono, monospace;
  span {
    color: rgb(161, 161, 161);
  }
  .copy-span {
    cursor: pointer;
    color: black;
  }
}

.my-data:hover {
  span {
    color: black;
  }
}

.data-ul {
  display: flex;
  flex-wrap: wrap;
}

.data-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  bottom: -15px;
  width: 360px;
  height: 100px;
  span {
    padding-top: 20px;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    height: 40px;
    // background-color: #fff;
  }
}

.about-me-container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: center;
  position: relative;
  // background-color: brown;
}

.me-header {
  width: 500px;
  height: 110px;
  background-color: rgb(249, 194, 76);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  top: 0px;
  h2 {
    font-size: 50px;
    color: white;
    margin-bottom: 0;
    position: absolute;
    bottom: -10.5px;
    font-family: Verdana, sans-serif;
  }
}

// .me-header-dark {
//   background-color: #845503;
//   h2 {
//     color: #ffe2b7;
//   }
// }

.history {
  // background-color: #fff;
  font-size: 20px;
  text-align: left;
  width: 400px;
  font-family: Optima, sans-serif;
  span {
    color: rgb(161, 161, 161);
  }
}

.mail-copy-container {
  position: absolute;
  height: 40px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(14, 14, 14, 0.613);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  left: 38%;
  top: 10px;
  background: rgb(249, 194, 76);
  display: none;
}

@media (max-width: 900px) {
  .main-page-container {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .mail-copy-container {
    background: #845503;
  }
  .me-header {
    background-color: #845503;
    h2 {
      color: #ffe2b7;
    }
  }
  .my-data:hover {
    span {
      color: #ffe2b7;
    }
  }
  .my-data {
    .copy-span {
      color: #ffe2b7;
    }
  }

  .data-container {
    background-color: rgb(38, 38, 38);
  }
  .main-page-container {
    background-color: rgb(49, 48, 48);
    color: #ffe2b7;
  }
}
