.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-mode {
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
