.main-page-mobile-container {
  display: none;
}

@media (max-width: 900px) {
  .main-page-mobile-container {
    display: unset;
  }
  .data-mobile-container {
    width: 100vw;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 20px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // background-color: brown;
  }

  .data-mobile-header {
    // background-color: brown;
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 40px;
      margin-bottom: 0;
    }
    span {
      font-size: 24px;
      color: rgb(161, 161, 161);
    }
  }

  .logo-cat-mobile {
    width: 120px;
    border-radius: 50%;
  }

  .data-ul {
    display: flex;
    justify-content: center;
    // background-color: brown;
    margin: 20px 0 20px 0;
  }
  .my-data {
    font-size: 26px;
    width: 300px;
    text-align: center;
    span {
      font-size: 16px;
    }
  }

  .about-me-mobile-container {
    // background-color: brown;
    background-color: #fff;
    width: 100vw;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }

  .main-dark {
    background-color: transparent;
  }

  .me-mobile-header {
    width: 100vw;
    height: 100px;
    background-color: rgb(249, 194, 76);
    position: relative;
    top: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    h2 {
      font-size: 40px;
      color: white;
      margin-bottom: 0;
      position: absolute;
      bottom: -8px;
      font-family: Verdana, sans-serif;
    }
  }

  .me-header-dark {
    background-color: #845503;
    h2 {
      color: #ffe2b7;
    }
  }

  .history {
    margin: 20px 20px 0 20px;
  }
}
