.my-skills-container {
  max-width: 1000px;
  height: 500px;
  margin: 20px 0 20px 0;
  background-color: rgb(49, 48, 48);
  position: relative;
}

.my-skills-header {
  background-color: #480607;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffe2b7;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  position: relative;
  display: flex;
  z-index: 1;
  overflow: hidden;
  h1 {
    position: relative;
    bottom: -24px;
  }
}

.skill-icons-container {
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
}

.icons-container {
  width: 200px;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  align-items: center;
  justify-content: center;
}

.icons-container::-webkit-scrollbar {
  display: none;
}

.iconic {
  height: 420px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  // background-color: #fff;
}

.skill-icon {
  height: 200px;
  border: 1px solid wheat;
  border-radius: 20px;
}

.skill-icon:hover {
  background-color: #480607;
}

@media (prefers-color-scheme: light) {
  .my-skills-container {
    background-color: #f8f8f8;
  }
  .skill-icon {
    border: 1px solid #480607;
  }
  .skill-icon:hover {
    background-color: rgb(17, 42, 65);
  }
  .my-skills-header {
    background-color: #cd5c5c;
    h1 {
      color: white;
    }
  }
}

@media (max-width: 900px) {
  .my-skills-container {
    height: 350px;
    background-color: transparent;
    // background-color: #fff;
  }
  .my-skills-header {
    font-size: 18px;
    position: relative;
    h1 {
      position: absolute;
      bottom: -7px;
    }
  }
  .skill-icons-container {
    // width: 100%;
    height: 270px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-items: center;
    // background-color: blue;
  }

  .icons-container {
    // background-color: #480607;
    height: 228px;
    width: 75px;
  }
  .iconic {
    // background-color: #cd5c5c;
    height: 170px;
    width: 75px;
  }
  .skill-icon {
    height: 75px;
    border-radius: 10px;
  }

  @media (prefers-color-scheme: light) {
    .my-skills-container {
      background-color: #fff;
    }
  }
}
