.App {
  width: 100%;
  margin-top: 100px;
}
.ventilyator-container {
  display: flex;
  justify-content: center;
}
.logo {
  transform-origin: 50% 50%;
  animation: spin 1s /*оборот за 1секунду*/ linear infinite;
  border: 10px solid black;
  border-radius: 50%;
  -webkit-transition: transform 2000ms;
  -webkit-transition: -webkit-transform 2000ms;
  transition: all 200ms;
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    /* transform: rotate(360deg); */
  }
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.buttons button {
  width: 200px;
  height: 200px;
  margin: 5px;
  border-radius: 50px;
}

.buttons li button:focus {
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.262);
}
.speed1:focus {
  background-color: rgba(255, 0, 51, 0.652);
}
.speed2:focus {
  background-color: rgba(255, 0, 51, 0.652);
}
.speed3:focus {
  background-color: rgba(255, 0, 51, 0.652);
}
.speed0 {
  background-color: rgba(0, 0, 255, 0.652);
}

.light {
  width: 200px;
  height: 200px;
  margin: 5px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons ul li {
  list-style-type: none;
}
.tittle h1 {
  text-align: center;
  margin-bottom: 30px;
}
